.balance-page .details-headline {
    padding-bottom: 24px;
}


.balance-page .details-headline .btn--adjacent-tab {
    min-width: 200px;
}


.tabs-adjacent .btn--adjacent-tab {
    color: #fff;
    flex: 1 1 auto;
    white-space: nowrap;
}
.details-headline--buttons .btn--adjacent-tab {
    padding: 15px 27px !important;
    margin-left: 0 !important;
    height: 56px;
}